[package]
name = "horeb"
version = "{{.Version}}"
author = "John Gosset <john@gossetx.com>"
description = "Speaking in tongues via stdout"
architecture = "{{.Architecture}}"
{{range .Binaries | split ","}}
[[file]]
path = "/usr/bin/{{.}}"
contentFrom = "./{{.}}"
mode = "0755"
owner = "root"
group = "root"
{{end}}
[[file]]
path = "/usr/lib/systemd/system/horebd.service"
contentFrom = "horebd.service"
mode = "0644"
owner = "root"
group = "root"

[[file]]
path = "/usr/lib/systemd/system/horebd.socket"
contentFrom = "horebd.socket"
mode = "0644"
owner = "root"
group = "root"

[[file]]
path = "/usr/lib/systemd/system/horebd@.service"
contentFrom = "horebd@.service"
mode = "0644"
owner = "root"
group = "root"

[[file]]
path = "/usr/share/licenses/horeb/LICENSE"
contentFrom = "LICENSE"
mode = "0644"
owner = "root"
group = "root"
